body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
    color: #333;
}

*:focus {
    outline: 3px solid rgb(255, 0, 0);
    outline-offset: 2px;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border: 1px solid transparent;
}

nav a:hover {
    border: 1px solid white;
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

h1, h2 {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}

article {
    border: 2px solid #333;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

article img {
    max-width: 100%;
    width: 250px;
    height: auto;
    border: 1px solid #000;
}

article button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

article button:hover {
    background-color: #003d80;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ddd;
}

.categorie {
    background-color: #e0e0e0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

tfoot {
    background-color: #333;
    color: white;
    font-weight: bold;
}

tfoot th{
    color: #333;
}

form {
    background-color: #e2e2e2;
    padding: 15px;
    border: 1px solid #999;
}

.champ {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #777;
    box-sizing: border-box;
}

.ligne-identite {
    display: flex;
    gap: 20px;
}

.ligne-identite .champ {
    width: 50%;
}

button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

dialog {
    border: 2px solid black;
    padding: 20px;
    max-width: 400px;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.8);
}

body:has(dialog[open]) {
    overflow: hidden;
}
